<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>Bug</th>
      <th>Commenter</th>
      <th>Comment</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
          <% @bug = Bug.find(params[:id] = comment.bug) %>
        <td><%= @bug.name %></td>
        <td><%= comment.commenter %></td>
        <td><%= comment.body %></td>
        <td><button><%= link_to 'Edit', edit_comment_path(comment) %></button></td>
        <td><button><%= link_to 'Destroy', comments_path, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>