<p id="notice"><%= notice %></p>

<h1><%= @bug.name %></h1>

<p>
  <strong>Effect:</strong>
  <%= @bug.effect %>
</p>

<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>

<br/><br/>


<h2>Comments</h2>
<% @bug.comments.each do |comment| %>
  <p>
    <strong>Commenter : </strong>
    <%= comment.commenter %>
  </p>
  
  <p>
    <strong>Comment : </strong>
    <%= comment.body %>
  </p>
  
  <p>
    <button><%= link_to "Edit Comment", [comment.bug, comment],
    method: :edit %></button>
  </p>
  
  <p>
    <button><%= link_to "Destroy Comment", [comment.bug, comment],
    method: :delete,
    data: {confirm: "Are you sure?" } %></button>
  </p>
  
  <br/><br/>
<% end %>


<h2>Add a comment</h2>

<%= form_for([@bug, @bug.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %> <br/>
    <%= f.text_field :commenter %>
  </p>
  
  <p>
    <%= f.label :body %> <br/>
    <%= f.text_field :body %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>