<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav>
        <%= link_to "BACK TO INDEX", "https://rails-tutorial-paulgirardin.c9users.io/" %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "USERS", users_path %></li>
          <li><%= link_to "LOGIN", login_path %></li>
          <li><%= link_to "BUGS", bugs_path %></li>
          <li><%= link_to "À propos", apropos_path %></li>
        </ul>
      </nav>
    </div>
</header>